section#experience {
  /* background-color: black; */
  min-height: 100vh;
  width: 100%;
}

.experience-container {
  max-width: 1440px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experience-title {
  padding: 24px 0;
}

.experience-title h1 {
  background: rgb(255, 74, 74);
  background: linear-gradient(
    160deg,
    rgba(255, 74, 74, 1) 0%,
    rgba(255, 211, 57, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 4rem;
}

.experience-card {
  height: 100vh;
}

#experience1 {
  background-color: aqua;
}
#experience2 {
  background-color: rgb(60, 255, 0);
}
#experience3 {
  background-color: rgb(255, 238, 0);
}

.swiper-flex-container {
  height: 100%;
  display: flex;
  padding: 24px 0;
}

.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  transition-property: transform;

  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.swiper {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition: all 0.25s ease-out;
}

.swiper-scrollbar {
  margin-top: 3rem;
}

.swiper-slide {
  margin-bottom: 30px;
}

.swiper-slide .card {
  max-width: 100%;
  transition: all 0.25s ease-out;
  transform: scale(0.95);
  transform-origin: center;
  opacity: 0.35;
}

.swiper-slide-active .card {
  transform: scale(1);
  opacity: 1;
}

.swiper-scrollbar {
  margin-top: 3rem;
}

.swiper-pagination {
  position: absolute;
  left: 50% !important;
  bottom: 8px;
  transform: translatex(-50%);
  z-index: 1;
  width: auto !important;
  width: 80% !important;
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  border-radius: 0;
  height: 8px;
  line-height: 30px;
  font-size: 12px;
  opacity: 1;
  background: rgba(255, 185, 0, 0.3);
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.2s;
  flex: 1;
  border-radius: 24px;
}

.swiper-pagination-bullet-active {
  background: #ffb200;
  border-radius: 10px;
}
